.DS_Store
.Rhistory

docs/

renv/
renv.lock

scripts/Report_files/

# Ignorar contenido de final_data/ pero conservar la carpeta
final_data/*
!final_data/README.md

.Rproj.user/

cutadapt_reports/
for_dada2/

raw_fastqs/*
!raw_fastqs/README.md

# metadata/: solo conservar los CSVs de configuración
metadata/metadata_old.csv
metadata/*.fasta
metadata/*.tsv.gz
metadata/.DS_Store

# scripts/
scripts/metadata/
scripts/00-introR.qmd
scripts/Report.html
.Rproj.user
scripts/.DS_Store
