docs/

renv/
renv.lock

scripts/Report_files/

# Ignorar todo el contenido de final_data/
final_data/

.Rproj.user/

cutadapt_reports/*
!cutadapt_reports/.gitkeep

for_dada2/*
!for_dada2/.gitkeep

raw_fastqs/*
!raw_fastqs/.gitkeep

# metadata/: solo conservar los CSVs de configuración
metadata/metadata_old.csv
metadata/*.fasta
metadata/*.tsv.gz
metadata/.DS_Store

# scripts/
scripts/metadata/
scripts/00-introR.qmd
scripts/Report.html
.Rproj.user
